<tr>
    <td class="{{.LineClass}} {{.Type}}">
        {{.LineNumberStr}}
    </td>
    <td class="{{.Type}}">
        <div class="{{.ContentClass}} {{.Type}}">
            <span class="d2h-code-line-prefix">{{.Prefix}}</span>
            <span class="d2h-code-line-ctn">{{.Content}}</span>
        </div>
    </td>
</tr>
