<div id="{{.FileHTMLID}}" class="d2h-file-wrapper" data-lang="{{.Language}}">
    <div class="d2h-file-header">
        {{.FilePath}}
    </div>
    <div class="d2h-file-diff">
        <div class="d2h-file-side-diff">
            <div class="d2h-code-wrapper">
                <table class="d2h-diff-table">
                    <tbody class="d2h-diff-tbody">
                    {{.Left}}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="d2h-file-side-diff">
            <div class="d2h-code-wrapper">
                <table class="d2h-diff-table">
                    <tbody class="d2h-diff-tbody">
                    {{.Right}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>